
<div class="div-container">
  <div class="div-header">
    Shopping Online - Get Reward
  </div>

  <div class="clear"></div>

  <div class="div-topmenu">
    <ul>
   <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/news-list" routerLinkActive="active"> News</a></li>
      <li><a routerLink="/news" routerLinkActive="active"> Manage News</a></li>
      <li><a routerLink="/category" routerLinkActive="active">Manage Category</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Manage Products</a></li>
 
      <li><a routerLink="/color" routerLinkActive="active">Manage Color</a></li>
      <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
      <li><a routerLink="/order" routerLinkActive="active">Order</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
    </ul>
  </div>

  <div class="clear"></div>



  <div class="div-main">
  
    <router-outlet></router-outlet>
  </div>

  <div class="clear"></div>

  <div class="div-footer">
    <p>&copy; 2015 Chien Vu Hoang. All rights reserved.</p>
    <p>Email: <a href="mailto:chien.vh@gmail.com">ChienVH</a></p>
    <p>Facebook: <a href="https://facebook.com/chienvh">https://facebook.com/chienvh</a></p>
  </div>
</div>
